.loading{
    display: flex;
    justify-content: center;
    width: 100%;
    padding:100px 0;
}

.loading__img{
    width: 150px;
}

.header-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header-slide:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, .6);
    z-index:1;
}
.header-slide-wrap{
    padding:60px 0;
    background:rgba(43,43,49,.85);
    position: relative;
    z-index: 2;
    
}
.item{
    padding:0 20px;
}
.item:hover .card-movie-icon{
    opacity: 1;
}
.item:hover .card-movie{
    box-shadow: 0 0 20px 0 rgba(255,88,96,.5);
}
.item:hover .card-movie:after{
    opacity: .3;
}
.card-movie:after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(90deg,#ff55a5 0,#ff5860 100%);
    opacity: 0;
}
.card-movie-img{
    width: 100%;
    min-height:285px;
    border-radius: 5px;
}
.card-movie{
    position: relative;
    overflow: hidden;
    display: block;
}
.card-movie-icon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80px;
    background:transparent;
    border-radius: 100%;
    z-index: 2;
    height: 80px;
    border:2px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    opacity: 0;
    background-image: url();
}
.card-movie-icon i{
    font-size: 30px;
    color:#fff;
}
.slide-movie-title{
    font-size: 22px;
    font-weight: 400;
    color:#fff;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;   
    margin:8px 0;
}
.slide-movie-title-engl{
    color:#a7a7a7;
    font-weight: 400;
}
.header-slide-btn{
    position: absolute;
    color:#dfdddd;
    font-size: 25px;
    top:-65px;
    right:52px;
    cursor: pointer;
}
.header-slide-left{
    right:100px;
}
.header-slide-title{
    font-size: 35px;
    color:#dadada;
    margin:0 0 40px;
    font-weight: 300;
}

/* Movie list */

.movie-tab{
    padding:0 0 60px 0;
    background:#2b2b31;
    border-top: 2px solid #ff55a5;
}
.movie-nav{
    padding-top:25px;
    background:#28282d;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.3);
}
.movie-title{
    font-size: 36px;
    color:#fff;
    font-weight: 300;
}
.movie-navigation{
    display:flex;
    margin-top:20px;
}
.movie-navigation-item{
    margin-right: 20px;
    padding:20px 0;
    color:#969696;
    font-size: 18px;
    cursor: pointer;
}
.movie-navigation-active{
    color:#fff;
    border-bottom: 2px solid #ff55a5 ;
}
.movie-news{
    margin-top:10px;
}
.movie-img{
    position: relative;
    margin-right:30px;
    height: 100%;
}

.movie-img-item{
    width: 190px;
    height: 290px;
    border-radius: 10px;
}
.movie-content{
  
    padding:10px 0;
}
.movie-content-title{
    font-size: 23px;
    color:#fff;
    font-weight: 300;
}
.movie-content-title-engl{
    font-size: 14px;
    font-weight: 400;
    color:#8c8c8c;
    margin:15px 0;
}
.movie-content-date{
    font-size: 14px;
    font-weight: 400;
    color:#8c8c8c;
    margin: 15px 0;
}
.movie-content-category{
    color:#ff676f;
    font-size: 14px;
}
.movie-content-country{
    margin:15px 0;
    color:rgb(196, 196, 196);
}
.movie-content-imbd{
    background:rgb(234, 155, 6);
    display:inline-block;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / .8);
    border-radius: 5px;
    padding:3px;
    font-size: 12px;
    font-weight: 700;
}
.movie-content-desc{
    color:#bbbbbb;
    margin-top:18px;
    line-height: 25px;
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box; 
}
.movie-list{
    display:none;
}
.movie-list-active{
    display:block;
}
.movie-new-update{
    background:#28282d;
    padding:50px 0;
}
.movie-new-update-item-des-title{
    color:#fff;
    font-size: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin:15px 0 0;
    overflow: hidden;
    display: -webkit-box; 
}
.movie-new-update-item-des-title-engl{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin:5px 0 15px;
    overflow: hidden;
    display: -webkit-box; 
    color:#939393;
    font-size: 15px;
}
.movie-new-update-btn{
    padding:50px 0 15px;
    text-align: center;
}

a{
    text-decoration: none;
}

/* Slide */
.slide-view{
    width: 100%;
    overflow: hidden;
}

.slide-wrap{
    display:flex;
    flex-wrap: nowrap;
    width: 202%;
    margin:0 -20px;
    transition:all .5s;
}

.slide-item{
    padding:0 20px;
}

.slide-item:hover .card-movie-icon{
    opacity: 1;
}
.slide-item:hover .card-movie{
    box-shadow: 0 0 20px 0 rgba(255,88,96,.5);
}
.slide-item:hover .card-movie:after{
    opacity: .3;
}

.btn--disable{
    color:#727272;
}

.episode{
    position: absolute;
    right: 10px;
    bottom: 24px;
    background: #ff676f;
    color: white;
    padding: 5px 7px;
    font-weight: bold;
    border-radius: 5px;
}